@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
     font-family: 'Android';
     src: url(../fontes/idroid.otf) format('opentype');
     font-weight: normal;
}

:root {
     --cor0:#B5D9FD;
     --cor1:#1D9744;
     --cor2:#202427; 
     --cor3:#FFFFFF;

     --fonte-padrao:'Times New Roman', Times, serif;
     --fonte-destaque: "Bebas Neue", cursive;
     --fonte-android: 'Android', cursive;
}

* {
     margin: 0px;
     padding: 0px;
}

body {
     background-color: var(--cor2);
     font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
     min-height: 150px;
     text-align: center;
     padding-top: 40px;
}

header p {
     color: var(--cor3);
     font-family: var(--fonte-padrao);
     font-size: 1.1em;
     max-width: 600px;
     padding-right: 10px;
     padding-left: 10px;
     margin: auto;
     margin-bottom: 20px;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.508);
}

header > h1 {
     color: var(--cor3);
     font-family: var(--fonte-android);
     font-size: 2em;
     margin-bottom: 20px;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.596);
}

nav {
     background-color: var(--cor1);
     padding: 10px;
     box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.314);
}

nav > a {
     color: cornsilk;
     padding: 10px;
     border-radius: 5px;
     text-decoration: none;
     font-weight: bold;
     transition-duration: 0.3s;
}

nav > a:hover {
     background-color: var(--cor2);
}


main {
     min-width: 300px;
     max-width: 1000px;
     margin: auto;
     margin-bottom: 30px;
     padding: 50px;
     background-color: var(--cor1);
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

main h1 {
     color: var(--cor2);
     font-family: var(--fonte-destaque);
     font-size: 2em;
     background-image: linear-gradient(to right, #0ad443, transparent);
     text-indent: 8px;
}

main h2 {
     color: var(--cor2);
     font-family: var(--fonte-destaque);
     font-size: 2em;
     background-image: linear-gradient(to right, #0ad443, transparent);
     text-indent: 8px;
    
}

main p {
     margin: 15px 0px;
     text-align: justify;
     text-indent: 30px;
     font-size: 2em;
     line-height: 1.1em;
     font-size: 20px;
     color: var(--cor3);
     padding: 25px;
}

main strong {
     color: var(--cor3);
     font-weight: bold;
     padding: 1px 0.5px;
     
}

main a {
     text-decoration: underline;
     font-weight: bolder;
     color: yellow;
    
    
}

main a:hover {
     text-decoration: none;
     color: var(--cor2);
    
}

main img {
      width: 100%;
}

main img.pequena {
     max-width: 350px;
     display: block;
     margin: auto;
}

div.video {
     background-color: var(--cor1);
     margin: 0px -20px 30px -20px;
     padding: 20px;
     padding-bottom: 58%;
     position: relative;
}

div.video > iframe {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

aside {
     background-color: var(--cor2);
     padding: 10px;
     border-radius: 10px;
     box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.284);
}

aside > h3 {
  background-color: #0ad443;
  color: var(--cor2);
  font-family: var(--fonte-padrao);
  font-size: 20px;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside > ul {
     list-style-position: inside;
     list-style-type: '\1F539';
     columns: 2;
     color: var(--cor3);
}

aside a:hover {
     color: white;
}

footer {
     background-color: var(--cor1);
     color: var(--cor3);
     text-align: center;
     font-size: 0.9em;
     padding: 5px;
}

footer a {
     color: yellow;
     font-weight: bolder;
     text-decoration: underline;
}

footer a:hover {
     text-decoration: double;
     color: var(--cor2);

}