@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --fonte1: "Crimson Text", serif;
    --fonte2: "DM Serif Text", serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

body {
    background-color: black;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 45px;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 45px;
}

header > h2 {
    font-size: 18px;
    font-family: var(--fonte1);
    font-style: italic;
}

.main-section {
    background-color: #1a1a1a;
    padding: 0;
    text-align: center;

}

.img-carro {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    background-attachment: fixed;
}

p {
    font-family: var(--fonte1);
    font-size: 20px;
    padding: 25px;
    color: white;
}

a {
    color: lightblue;
    font-size: 20px;
}

a:hover {
    color: white;
    text-decoration: underline;

}

