@charset "UTF-8";

body {
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: aliceblue;
    background-color: darkviolet;
}

h2 {
    color: darkred;
}

p  {
    text-align: justify;
}
   