@charset "UTF-8";

/* Estilo para Telas */

* {
    margin: 12px;
    padding: 1px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline 0.8px;

}

li {
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
}

menu {
    text-align: center;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(79, 246, 246);
}