@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:linear-gradient(to right, #FFAFCC,#BDE0FE);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(102, 62, 77, 0.712);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #CDB4DB;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(61, 28, 81, 0.792);
}

h2 {
 color: #A2D2FF;
}

p {
    text-align: justify;
}
